html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Host Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-colour;
    color: $text-colour;
    letter-spacing: 0.12em;
    line-height: 1.5;
    word-spacing: 0.16em;
    }

h1,
h2,
h3
{
    margin-bottom: $spacing; 
    font-weight: 600; 
    line-height: 1.2;
    color: $text-colour-emphasis;
}

h1 {
    font-size: $font-size-large * 1.5;
}

h2 {
    font-size: $font-size-large * 1.25;
}

h3 {
    font-size: $font-size-large;
}

p {
    margin-bottom: $spacing-medium * 1.6;
}

a {
    color: $text-colour-link;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: $primary-colour
    }
}

ul {
    margin-bottom: $spacing;
    padding-left: $spacing-medium; 
}

li {
    margin-bottom: math.div($spacing-extra-small, 2);
}